<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.TblAdviseMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.TblAdvise" >
    <id column="ADVISEID" property="adviseid" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="TEXT" property="text" jdbcType="VARCHAR" />
    <result column="ANNEX" property="annex" jdbcType="VARCHAR" />
    <result column="USERID" property="userid" jdbcType="VARCHAR" />
    <result column="STATES" property="states" jdbcType="INTEGER" />
    <result column="ADVISETIME" property="advisetime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ADVISEID, EMAIL, NAME, PHONE, TEXT, ANNEX, USERID, STATES, ADVISETIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pojo.TblAdviseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_advise
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tbl_advise
    where ADVISEID = #{adviseid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tbl_advise
    where ADVISEID = #{adviseid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pojo.TblAdviseExample" >
    delete from tbl_advise
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pojo.TblAdvise" >
    insert into tbl_advise (ADVISEID, EMAIL, NAME, 
      PHONE, TEXT, ANNEX, 
      USERID, STATES, ADVISETIME
      )
    values (#{adviseid,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{text,jdbcType=VARCHAR}, #{annex,jdbcType=VARCHAR}, 
      #{userid,jdbcType=VARCHAR}, #{states,jdbcType=INTEGER}, #{advisetime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.TblAdvise" >
    insert into tbl_advise
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="adviseid != null" >
        ADVISEID,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="text != null" >
        TEXT,
      </if>
      <if test="annex != null" >
        ANNEX,
      </if>
      <if test="userid != null" >
        USERID,
      </if>
      <if test="states != null" >
        STATES,
      </if>
      <if test="advisetime != null" >
        ADVISETIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="adviseid != null" >
        #{adviseid,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="text != null" >
        #{text,jdbcType=VARCHAR},
      </if>
      <if test="annex != null" >
        #{annex,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="states != null" >
        #{states,jdbcType=INTEGER},
      </if>
      <if test="advisetime != null" >
        #{advisetime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pojo.TblAdviseExample" resultType="java.lang.Integer" >
    select count(*) from tbl_advise
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tbl_advise
    <set >
      <if test="record.adviseid != null" >
        ADVISEID = #{record.adviseid,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        EMAIL = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        PHONE = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.text != null" >
        TEXT = #{record.text,jdbcType=VARCHAR},
      </if>
      <if test="record.annex != null" >
        ANNEX = #{record.annex,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null" >
        USERID = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.states != null" >
        STATES = #{record.states,jdbcType=INTEGER},
      </if>
      <if test="record.advisetime != null" >
        ADVISETIME = #{record.advisetime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tbl_advise
    set ADVISEID = #{record.adviseid,jdbcType=VARCHAR},
      EMAIL = #{record.email,jdbcType=VARCHAR},
      NAME = #{record.name,jdbcType=VARCHAR},
      PHONE = #{record.phone,jdbcType=VARCHAR},
      TEXT = #{record.text,jdbcType=VARCHAR},
      ANNEX = #{record.annex,jdbcType=VARCHAR},
      USERID = #{record.userid,jdbcType=VARCHAR},
      STATES = #{record.states,jdbcType=INTEGER},
      ADVISETIME = #{record.advisetime,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.TblAdvise" >
    update tbl_advise
    <set >
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="text != null" >
        TEXT = #{text,jdbcType=VARCHAR},
      </if>
      <if test="annex != null" >
        ANNEX = #{annex,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        USERID = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="states != null" >
        STATES = #{states,jdbcType=INTEGER},
      </if>
      <if test="advisetime != null" >
        ADVISETIME = #{advisetime,jdbcType=VARCHAR},
      </if>
    </set>
    where ADVISEID = #{adviseid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.TblAdvise" >
    update tbl_advise
    set EMAIL = #{email,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      TEXT = #{text,jdbcType=VARCHAR},
      ANNEX = #{annex,jdbcType=VARCHAR},
      USERID = #{userid,jdbcType=VARCHAR},
      STATES = #{states,jdbcType=INTEGER},
      ADVISETIME = #{advisetime,jdbcType=VARCHAR}
    where ADVISEID = #{adviseid,jdbcType=VARCHAR}
  </update>
</mapper>