<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.TblFaqclassifyMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.TblFaqclassify" >
    <id column="FAQCLASSIFYID" property="faqclassifyid" jdbcType="VARCHAR" />
    <result column="FAQCLASSIFYNAME" property="faqclassifyname" jdbcType="VARCHAR" />
    <result column="FAQPARENTID" property="faqparentid" jdbcType="VARCHAR" />
    <result column="FAQCLASSIFYIMAGE" property="faqclassifyimage" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    FAQCLASSIFYID, FAQCLASSIFYNAME, FAQPARENTID, FAQCLASSIFYIMAGE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pojo.TblFaqclassifyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_faqclassify
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tbl_faqclassify
    where FAQCLASSIFYID = #{faqclassifyid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tbl_faqclassify
    where FAQCLASSIFYID = #{faqclassifyid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pojo.TblFaqclassifyExample" >
    delete from tbl_faqclassify
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pojo.TblFaqclassify" >
    insert into tbl_faqclassify (FAQCLASSIFYID, FAQCLASSIFYNAME, FAQPARENTID, 
      FAQCLASSIFYIMAGE)
    values (#{faqclassifyid,jdbcType=VARCHAR}, #{faqclassifyname,jdbcType=VARCHAR}, #{faqparentid,jdbcType=VARCHAR}, 
      #{faqclassifyimage,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.TblFaqclassify" >
    insert into tbl_faqclassify
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="faqclassifyid != null" >
        FAQCLASSIFYID,
      </if>
      <if test="faqclassifyname != null" >
        FAQCLASSIFYNAME,
      </if>
      <if test="faqparentid != null" >
        FAQPARENTID,
      </if>
      <if test="faqclassifyimage != null" >
        FAQCLASSIFYIMAGE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="faqclassifyid != null" >
        #{faqclassifyid,jdbcType=VARCHAR},
      </if>
      <if test="faqclassifyname != null" >
        #{faqclassifyname,jdbcType=VARCHAR},
      </if>
      <if test="faqparentid != null" >
        #{faqparentid,jdbcType=VARCHAR},
      </if>
      <if test="faqclassifyimage != null" >
        #{faqclassifyimage,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pojo.TblFaqclassifyExample" resultType="java.lang.Integer" >
    select count(*) from tbl_faqclassify
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tbl_faqclassify
    <set >
      <if test="record.faqclassifyid != null" >
        FAQCLASSIFYID = #{record.faqclassifyid,jdbcType=VARCHAR},
      </if>
      <if test="record.faqclassifyname != null" >
        FAQCLASSIFYNAME = #{record.faqclassifyname,jdbcType=VARCHAR},
      </if>
      <if test="record.faqparentid != null" >
        FAQPARENTID = #{record.faqparentid,jdbcType=VARCHAR},
      </if>
      <if test="record.faqclassifyimage != null" >
        FAQCLASSIFYIMAGE = #{record.faqclassifyimage,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tbl_faqclassify
    set FAQCLASSIFYID = #{record.faqclassifyid,jdbcType=VARCHAR},
      FAQCLASSIFYNAME = #{record.faqclassifyname,jdbcType=VARCHAR},
      FAQPARENTID = #{record.faqparentid,jdbcType=VARCHAR},
      FAQCLASSIFYIMAGE = #{record.faqclassifyimage,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.TblFaqclassify" >
    update tbl_faqclassify
    <set >
      <if test="faqclassifyname != null" >
        FAQCLASSIFYNAME = #{faqclassifyname,jdbcType=VARCHAR},
      </if>
      <if test="faqparentid != null" >
        FAQPARENTID = #{faqparentid,jdbcType=VARCHAR},
      </if>
      <if test="faqclassifyimage != null" >
        FAQCLASSIFYIMAGE = #{faqclassifyimage,jdbcType=VARCHAR},
      </if>
    </set>
    where FAQCLASSIFYID = #{faqclassifyid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.TblFaqclassify" >
    update tbl_faqclassify
    set FAQCLASSIFYNAME = #{faqclassifyname,jdbcType=VARCHAR},
      FAQPARENTID = #{faqparentid,jdbcType=VARCHAR},
      FAQCLASSIFYIMAGE = #{faqclassifyimage,jdbcType=VARCHAR}
    where FAQCLASSIFYID = #{faqclassifyid,jdbcType=VARCHAR}
  </update>
</mapper>